
@font-face {
    font-family: 'Bisctecca';
    src: url('./typographies/bistecca/Bistecca.ttf') format('truetype');
}
@font-face {
    font-family: 'Robotto';
    src: url('./typographies/roboto/Roboto-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Robotto';
    overflow-x: hidden;
    color: #468A8A;
}
.barreSuperieure {
    width: 100vw;
    background-color: #c08c7f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
}
.icones {
    display: flex;
    justify-content: space-between;
    width: 7vw;
    background-color: white;
    border: 1px solid #468A8A;
    border-radius: 8px;
    padding: 4px 15px 4px 15px;
    margin-top: 20px;
}
.icone {
    width: 2vw;
}
.buttonRS {
    width: 7vw;
    background-color: white;
    border: 1px solid #468A8A;
    border-radius: 8px;
    padding: 4px 15px 4px 15px;
    margin-top: 21px;
    height: 41px;
    font-family: 'Robotto';
    font-size: 16px;
    color: #468A8A;
}
.buttonLarge {
    width: 50vw;
    margin-bottom: 50px;
}
.divLogo {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #468A8A;
    margin-bottom: 5px;
    font-size: 13px;
    font-family: 'Bisctecca';
}
.divLogo > h1 {
    margin-top: -5px;
}
.logo {
    width: 10vw;
    margin-top: 15px;
    color: #468A8A;
}

.menu {
    border-top: 1px solid #468A8A;
    margin-top: 0px;
}
.menu > nav > ul {
    display: flex;
    justify-content: center;
}
.menu > nav > ul > li {
    list-style: none;
}
.menu > nav > ul > li > a {
    color: #468A8A;
    font-size: 20px;
    margin-left: 25px;
    text-decoration: none;
}
.imageHeader {
    width: 100vw;
}
#premiereSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.grille {
    width: 30vw;
}
.imageSectionUne {
    width: 26vw;
    margin: 76px 0px -134px 15px;
}
.divText {
    width: 25vw;
    text-align: center;
    padding: 0px 15px 0px 15px;
}
.divText > p {
    font-size: 18px;
}
.trancheRose {
    width: 100vw;
    height: 150px;
    background-color: #c08c7f;
    border-bottom: 1px solid #468A8A;
    position: static;
    z-index: -1;
}

.Section {
    border-top: 1px solid #468A8A;
    margin-top: 5px;
    border-bottom: 1px solid #468A8A;
    margin-bottom: 5px;
    text-align: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Section > h2 {
    margin-bottom: 55px;
    width: 100vw;
}
.divProduits {
    width: 10vw;
    height: 10vw;
    border-radius: 10vw;
    overflow: hidden;
    margin-right: 30px;
    background-size: cover;
    display: flex;
    align-items: center;
}
.divProduits > img {
    width: 10vw;
}
.ligneProduitsServices {
    display: flex;
    margin-bottom: 15px;
}
.ligneTémoignages {
    display: flex;
}
.Services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.divServicesImg {
    width: 10vw;
    height: 10vw;
    border-radius: 10vw;
    overflow: hidden;
    margin-right: 30px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #468A8A;
}
.divServicesImg > img {
    width: 10vw;
}
#patisserieIcone {
    width: 7vw;
}
#livraisonIcone {
    width: 9vw;
}
#quatriemeSection {
    background-image: linear-gradient(rgba(99, 123, 101, 0.5), rgba(99, 123, 101, 0.5)), url("./images/fond2.jpg");
}
#quatriemeSection > h2 {
    color: white;
}
.divTémoignages {
    width: 19vw;
    height: 10vw;
    text-align: center;
    color: white;
    padding-right: 32px;
}
#quatriemeSection > div.divButton {
    width: 100vw;
}
.cinquiemeSection {
    height: 500px;
}

.ligneProduitsServices.RS > div.premiereColonne > div {
    flex-wrap: wrap;
    display: flex;
    width: 21vw;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.ligneProduitsServices.RS > div.premiereColonne > div > img {
    width: 5vw;
    padding: 2px;
}
.ligneProduitsServices.RS > div.deuxiemeColonne {
    flex-wrap: wrap;
    display: flex;
    width: 21vw;
    align-content: flex-start;
}
div#premiereLigne {
    width: 22vw;
    display: flex;
}
.ligneProduitsServices.RS > div.deuxiemeColonne > div#premiereLigne > div {
    width: 35vw;
    height: 115px;
    overflow: hidden;
    display: flex;
}
.ligneProduitsServices.RS > div.deuxiemeColonne > div#premiereLigne > div > img {
    width: 10vw;
    object-fit: cover;
}
.ligneProduitsServices.RS > div.deuxiemeColonne > div#deuxiemeLigne {
    width: 70vw;
    height: 115px;
    overflow: hidden;
    margin-top: 2px;
}
.ligneProduitsServices.RS > div.deuxiemeColonne > div#deuxiemeLigne > img {
    width: 21vw;
    padding: 2px;
    object-fit: cover;
}

/* FOOTER */
.ligneFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #44503C;
    padding-left: 10vw;
    padding-right: 10vw;
}
.carteImg {
    width: 15vw;
}
.carteEntreprise {
    color: white;
}
.deuxiemeColonneFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divLogoFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.divLogoFooter > img {
    width: 10vw;
}
.divLogoFooter > h2 {
    margin-top: -40px;
    color: white;
    font-size: 31px;
    font-family: 'Bisctecca';
}
.iconesFooter {
    display: flex;
    justify-content: space-between;
    width: 7vw;
    padding: 4px 15px 4px 15px;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .barreSuperieure {
        height: 106px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .barreSuperieure > .icones {
        width: 52vw;
    }
    .barreSuperieure > .icones > img {
        width: 8vw;
    }
    .buttonRS {
        width: 31vw;
    }
    .buttonRS.buttonLarge {
        width: 50vw;
    }
    .logo {
        width: 31vw;
    }
    .menu > nav > ul {
        padding-left: 0px;
    }
    .menu > nav > ul > li > a {
        margin-left: 13px;
        font-size: 13px;
    }
    div > img.grille {
        width: 80vw;
    }
    div > div.divText {
        width: 75vw;
    }
    img.imageSectionUne {
        width: 70vw;
    }
    .ligneProduitsServices, .ligneTémoignages {
        flex-wrap: wrap;
        justify-content: center;
    }
    .Section {
        height: auto;
    }
    .divProduits, .divServicesImg {
        width: 70vw;
        height: 70vw;
        border-radius: 70vw;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .divServicesImg {
        margin-bottom: 0px;
    }
    .Services > p {
        margin-top: 0px !important;
    }
    .divProduits > img, .divServicesImg > img {
        width: 70vw;
    }
    #patisserieIcone, #livraisonIcone {
        width: 50vw;
    }
    .divTémoignages {
        width: 86vw;
        padding-right: 0px;
        height: auto;
    }
    div.premiereColonne, .ligneProduitsServices.RS > div.premiereColonne > div, .ligneProduitsServices.RS > div.deuxiemeColonne, .ligneProduitsServices.RS > div.deuxiemeColonne > div#deuxiemeLigne {
        width: 99vw;
    }
    .ligneProduitsServices.RS > div.deuxiemeColonne > div#premiereLigne > div > img {
        width: 90vw;
    }
    .ligneProduitsServices.RS > div.premiereColonne > div > img {
        width: 42vw;
    }
    .ligneProduitsServices.RS > div.deuxiemeColonne > div#premiereLigne > div {
        width: 45vw;
    }
    div#premiereLigne {
        justify-content: space-around;
        width: 99vw;
    }
    .ligneProduitsServices.RS > div.deuxiemeColonne > div#deuxiemeLigne, .ligneProduitsServices.RS > div.deuxiemeColonne > div#premiereLigne > div {
        height: auto;
    }
    .ligneProduitsServices.RS > div.deuxiemeColonne > div#deuxiemeLigne > img {
        width: 95vw;
        padding-top: 5px;
    }
    .ligneFooter {
        flex-wrap: wrap;
        height: auto;
    }
    .carteImg {
        width: 70vw;
        margin-top: 15px;
    }
    .iconesFooter {
        width: 70vw;
        justify-content: space-around;
    }
    .iconesFooter > .icone {
        width: 13vw;
    }
    .divLogoFooter > img {
        width: 51vw;
        margin-top: 15px;
    }
}